.third-background-color-0{

    background-color: #485765;
}

.third-background-color-1{

    background-color: #3a4753;
}

.third-background-color-2{

    background-color: #313c47;
}

.second-background-color-0{

    background-color: #ededed;
}

.second-background-color-1{

    background-color: #e3e3e3;
}

.second-background-color-2{

    background-color: #d8d8d8;
}